h1, .nadpis2, .odstavec, img, .odkaz, .odkaz2, .odkaz3 {

}

h1 {
    color: rgb(56, 102, 87);
    font-family: Fantasy;
    text-align: center;
}

.nadpis2 {
    color: rgb(56, 102, 87);
    font-family: Fantasy;
    text-align: center;
    margin-top: 50px;
}

.odstavec {
    color: rgb(146, 195, 179);
    font-family: Fantasy;
    text-align: center;
    margin: 0 500px auto;
}

img {
    width: 400px;
    height: auto;
    margin: 50px auto;
    border-radius: 50px;
    display: block;
}

.odkaz, .odkaz2, .odkaz3 {
    font-size: 30px;
    text-decoration: dotted;
    color: rgb(56, 102, 87);
    margin-top: 50px;
}

.odkaz {
    margin-left: 200px;
}

.odkaz2 {
    margin-left: 300px;
}

.odkaz3 {
    margin-left: 400px;
}

/* Media queries pro mobilní zařízení */
@media (max-width: 600px) {
    .odstavec {
        margin: 0 20px auto;
    }
    img {
        width: 100%;
        height: auto;
        margin: 20px auto;
        border-radius: 50px;
    }
    .odkaz, .odkaz2, .odkaz3 {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 20px;
    }
}
